* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App{
    text-align: center;
   
}


.name {
  background-color: #248C54;
  padding: 1rem 0;
  text-align: center;
}

.name h2 {
  color: white;
  font-weight: 600;
  font-size: 1.75rem;
}


.navbar {
  background-color: #1f7446;
  padding: 0.75rem 0;
}


.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  
}

.navbar a {

  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 1rem 11rem;
  transition: background-color 0.25s ease;
}


.navbar a:hover {
  background-color: #3bbf78;
}



#about{
    background-color: #95DCE4; 
}




.footer{
  background-color: #1f7446;
  display:block; 
}

.card{
  border: 1px solid rgb(4, 5, 4);
   border-radius: 10px; 
   box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1) ; 
   padding: 20px; 
   margin: 10px auto; 
   text-align: center; 
   width:100%;
   max-width: 1000px; 
   display: inline-block; 

}


.card .card-title{
  font-family: Arial, sans-serif; 
  margin: 0; 
  color: #89618E; 
  padding-bottom: 1rem;
}

.card .card-text{
font-family:Arial; 
color:black; 
}

.logos{
  width:45px; 
  height:auto; 
  margin: 20px 35px;  
}

.footer-text{
  color:white; 
}

a{
  color:black; 
}


h2{
  color:white; 
  margin-bottom: 10px;
}

.resumeButton{
  font-size:20px; 
  background-color:#89618E; 
 color:white; 
 border-radius:25px; 
 padding: 1rem; 
margin:1rem; 
}

.resumeButton:hover{
  cursor: pointer;
  background-color: #ca9ad1;
  color:black; 
}

#projects{
  background-color: #95DCE4;
}

.project-title{
  color:#89618E; 
}

.project-content{
  display:flex; 
  align-items:center; 
   
}

.project-image{
  width:490px; 
  height:auto; 
  margin-right:5rem; 
  margin-top: 1rem;
}

@media (max-width:768px){
  h3{
    margin-bottom:10px; 
  }

  .card{
    width:90%; 
    margin:1rem auto; 
  }

  .project-content{
    flex-direction:column; 
    text-align:center; 
  }

  .project-image{
    width:100%; 
    max-width:300px; 
    margin:0 auto; 
  }
    

  .navbar ul {
  flex-direction: column;
  align-items:center; 
  
}

.navbar li{
 
  width:100%; 
  
}

.navbar a {
  display:block; 
padding: 1rem;
width:100%; 
text-align:center; 


}
}